:root {
    --back-wall-color: rgb(163, 169, 174);
    --side-wall-color: rgb(134, 139, 143);
    --floor-color: rgb(193, 150, 108);

    --dark-brown: rgb(125, 60, 28);
}

* {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

#lighting {
    position: absolute;
    width: 100vw;
    height: 100vh;

    z-index: 1000;

    background-color: rgb(173, 216, 230);

    opacity: 0.2;
}

#side-wall {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -10vh;

    width: 20vw;
    height: 120vh;
    background-color: var(--side-wall-color);
    float: left;

    transform: skew(0, -45deg);
}

#window-frame {
    width: 60%;
    height: 30%;
    /* background-color: red; */

    border: 10px solid var(--dark-brown);
    border-radius: 7px;
}

#sun {
    position: relative;
    /* left: 25%; */
    /* top: 100%; */

    height: 70px;
    aspect-ratio: 0.75;

    background-color: rgb(248, 248, 172);
    border-radius: 50%;

    /* margin: auto; */
}

/* #window-pane {

} */

#back-wall {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 20vw;

    width: 80vw;
    height: 80vh;
    background-color: var(--back-wall-color);
    float: left;
}

.shelf {
    width: 50px;
    height: 10px;
    background-color: var(--floor-color);

    /* transform: translate3d(20px, -15px, 70px); */
}

#floor {
    position: absolute;
    left: 10vw;
    top: 80vh;

    width: 100vw;
    height: 20vw;
    background-color: var(--floor-color);

    transform: skew(-45deg, 0);
}